[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
    ignore = dirty
